*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-attachment:fixed;
    background-color:#000000;
    background-image: linear-gradient(120deg, #000, rgb(63, 63, 63) 70%, #4a4a4a);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 20px;
}

.logo{
    width: 140px;
    position: relative;
    left: 50px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: rgba(255, 255, 255, 0.778);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(186, 186, 186);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


#products .container{
    position: relative;
    top: 75px;
    left: 20px;
}

#products .row{
    margin-top: 63px;
    margin-left: 115px;
}

#products .column{
    display: inline-block;
    text-align: center;
}

#products .column .car1 h2{
    background: -webkit-linear-gradient(#d9a618, #fff1be, #ca9a16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#products .car1 .img{
    width: 540px;
    height: 360px;
    background-image: url('audir8_nobg.png');
    background-repeat: no-repeat;
    transition: 0.75s;
    border-radius: 20px;
}

#products .car1 .img:hover{
    background-image: url('audir8.jpg');
    background-repeat: no-repeat;
    transition: 0.75s;
}

#products .car2{
    position: relative;
    left: 20px;
}

#products .car2 h2{
    color: black;
}

#products .car2 .img{
    width: 540px;
    height: 360px;
    background-image: url('mercedesgle_nobg.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.75s;
    border-radius: 20px;
}

#products .car2 .img:hover{
    background-image: url('mercedesgle.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.75s;
}