*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-attachment:fixed;
    background-color:#000000;
    background-image: linear-gradient(100deg, rgba(255,153,153,0) 1%,rgb(0, 0, 0) 80%), url(bg_home.png);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 20px;
}

.logo{
    width: 140px;
    position: relative;
    left: 50px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: rgba(255, 255, 255, 0.778);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(186, 186, 186);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}




.header-text{
    position: relative;
    top: 232px;
    right: 20px;
}

.header-text h1{
    text-decoration: wavy;
    text-align: right;
    font-size: 6rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    position: relative;
    top: 90px;
    left: 580px;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.button:hover::after {
    filter: blur(30px);
}

.button:hover::before {
    transform: rotate(-180deg);
}

.button:active::before {
    scale: 0.7;
}

.button button{
    background-color: #000;
    color: #d0d0d0;
    border: none;
}

.button button h4{
    position: relative;
    top: -2px;
    font-size: 1.2rem;
}